.popup__input-error {
    margin: 0 0 13px;
    padding: 0;
    display: inline-block;
    height: 14px;
    color: #F00;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}