.profile__edit-button {
    margin: 15px 0 0;
    padding: 0;
    height: 24px;
    width: 24px;
    background-image: url(../../../images/edit-button.svg);
    background-size: cover;
}

@media (max-width: 600px) {
    .profile__edit-button {
        margin: 0;
        height: 18px;
        width: 18px;
        position: absolute;
        top: 8px;
        right: 19px;
    }
}